<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Contact Us</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>1100 SE Grand Ave, Portland, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+254721444254</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>writertopnotch254@gmail.com</p>
               
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Business Hours</h4>
                <h6 class="text-light">Weekdays:</h6>
                <p class="mb-4"> 24hrs </p>
                <h6 class="text-light">Weekends:</h6>
                <p class="mb-0">10.00 AM - 02.00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Our Services</h4>
                <a class="btn btn-link" href="#">Article Writing</a>
                <a class="btn btn-link" href="#">Class Management</a>
                <a class="btn btn-link" href="#">Assignment Help</a>
                <a class="btn btn-link" href="#">Website Development</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Chat with us on Telegram</h4>
                <a class="btn btn-sm-square bg-white text-primary me-1" href="https://t.me/Paper_Heroes" style="font-size: 1.5em;">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                  
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">EduAidX</a>, All Rights Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Designed by <a class="border-bottom" href="https://github.com/nicco99">Nicco99</a>
                </div>
            </div>
        </div>
    </div>
</div>