 <!-- Topbar Start -->
 <div class="container-fluid bg-light d-none d-lg-block">
    <div class="row align-items-center top-bar">
        <div class="col-lg-3 col-md-12 text-center text-lg-start">
            <a href="" class="navbar-brand d-flex align-items-center m-0 p-0">
                <img src="img/1.png" alt="Eduaidx Logo" class="img-fluid logo-img me-2" />
                <h1 class="text-primary m-0">Eduaidx</h1>
            </a>
        </div>
        
        <div class="col-lg-9 col-md-12 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                <i class="far fa-envelope-open text-primary me-2"></i>
                <p class="m-0">writertopnotch254@gmail.com</p>
            </div>
            <!-- <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div> -->
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
        <a href="" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
            <h1 class="text-primary m-0">Eduaidx</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="about" class="nav-item nav-link">About</a>
                <a href="service" class="nav-item nav-link">Services</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="assignment-help" class="dropdown-item">Assignment Help</a>
                        <a href="coding-homework" class="dropdown-item">Coding Homework</a>
                        <a href="dissertation" class="dropdown-item">Dissertation and Thesis</a>
                        <a href="personal-statement" class="dropdown-item">College Personal Statement & Resume</a>
                    </div>
                </div>
                <a href="contact" class="nav-item nav-link">Contact</a>
                <a href="register" class="nav-item nav-link ">Register</a>
                <a href="login" class="nav-item nav-link">Login</a>
            </div>
            <div class="mt-3">
                <a class="d-flex align-items-center bg-white py-2 px-3 rounded" href="https://wa.me/+254721444254/?text=I'm%20inquiring%20about%20your%20assignment%20help%20services" target="_blank" style="text-decoration: none; color: #25D366;">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 45px; height: 45px;">
                        <i class="fab fa-whatsapp" style="color: #25D366;"></i>
                    </div>
                    <div class="ms-3">
                        <p class="mb-0">Chat on WhatsApp</p>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->