<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EduAidX - Geting your A made easier than ever before</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <%- include('partials/header'); -%>


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 py-5">
        <div class="container">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">About Us</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Blog</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-fluid py-5 px-4 px-lg-0">
        <div class="row g-0">
            <div class="col-lg-3 d-none d-lg-flex">
                <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                    <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">Work with Experts! Boost
                        your GPA</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="ms-lg-5 ps-lg-5">
                    <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="text-primary text-uppercase">Get the help you need to ace those grades. Our expert
                            writers come come through in various ways including:</h6>
                    </div>
                    <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                                style="width: 75px; height: 75px;">
                                <i class="fa fa-file-alt fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Custom Essay Writing</h4>
                            <p>Have your essay prepared from scratch by one of our expert writers regardless of
                                education discipline or academic level.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Free Turnitin
                                Reports for AI and Similarity</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Timely
                                Delivery</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Unlimited
                                Revisions</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>100%
                                Moneyback Guarantee</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Write-my-paper<i
                                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                                style="width: 75px; height: 75px;">
                                <i class="fa fa-chalkboard-teacher fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">College Admissions Guidance</h4>
                            <p>Recieve writing help for all your college application needs to make sure you stand out
                                with recruiters.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Affordable
                                Resume Writing Services</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Common App
                                Essay Writing Services</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Additional
                                Mentorship and Support</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Start-my-Application<i
                                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                                style="width: 75px; height: 75px;">
                                <i class="fa fa-tasks fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Dissertation and Thesis Writing Help</h4>
                            <p>Benefit from experienced and highly knowledgable college professors with your research
                                project with every chapter you write.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Milestones
                                delivery to facilitate continuous review</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Free
                                plagiarism and AI similarity reports</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Free &
                                unlimited revisions</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Write my Dissertation<i
                                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                                style="width: 75px; height: 75px;">
                                <i class="fa fa-code fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Nursing & Social Work Homework Help</h4>
                            <p>Get the help you need to earn that diploma and kickstart your new career with ease.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Free
                                plagiarism and AI similarity reports</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Free &
                                unlimited revisions</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Additional
                                free tutoring available on request</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Write-my-paper<i
                                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                                style="width: 75px; height: 75px;">
                                <i class="fa fa-code fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Coding and Programming Homework Help</h4>
                            <p>Get the help you need to understand code and develop computer programs and projects.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Vast
                                knowledge with multiple languages</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Full support
                                & bosus free tutoring</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Additional
                                free practice projects on request</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Order-Code
                                <i class="fa fa-arrow-right text-secondary ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service End -->


        <!-- Booking Start -->

        <!-- Booking End -->


        <!-- Team Start -->
        
        <%- include('component/ourTeam'); -%>
        <!-- Team End -->


        <!-- Testimonial Start -->
        <%- include('component/testimonials'); -%>
        <!-- Testimonial End -->
        <%- include('partials/footer'); -%>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i
                class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
</body>

</html>