<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">About Us</h6>
                <h1 class="mb-4">Your Trusted Partner for Professional, High Scoring Academic Help</h1>
                <p class="mb-4">We offer tailored solutions to help you succeed with all your education pursuits. Find timely help across multiple college disciplines, from history and linguistics, STEM subjects, Sociology, and Coding, across all tertiary levels..</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Expert assignment help with near unlimited revisions</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Experienced help with programming and coding projects</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Dissertation and Thesis Help</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>College Application Mentorship</p>
                <div class="bg-primary d-flex align-items-center p-4 mt-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt fa-2x text-primary"></i>
                    </div>
                    <<div class="ms-3">
                    
                        <p class="fs-6 mb-2 text-white">Join Our Discord Community!</p>
                        <a href="https://discord.gg/https://discord.gg/xGwE3vw5" class="btn btn-primary">Launch Server</a>
                    </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4" style="min-height: 500px;">
                <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="position-absolute img-fluid w-100 h-100" src="img/team-1-b.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="About Us Image">
                    <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="img/team-2-b.jpg" style="object-fit: cover;" alt="Additional About Us Image">
                </div>
            </div>
        </div>
    </div>
</div>
