<div class="container">
    <div class="row g-4">
        <!-- Assignment Help & Tutorship -->
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
            <div class="overflow-hidden">
                <img class="img-fluid w-100 h-100" src="img/service-1.jpg" alt="Essay Help">
            </div>
            <div class="d-flex align-items-center justify-content-between bg-light p-4">
                <h5 class="text-truncate me-3 mb-0">Essay Help</h5>
                <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        
        <!-- Coding Homework -->
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
            <div class="overflow-hidden">
                <img class="img-fluid w-100 h-100" src="img/service-4.jpg" alt="Class Management Service">
            </div>
            <div class="d-flex align-items-center justify-content-between bg-light p-4">
                <h5 class="text-truncate me-3 mb-0">Help with Coding Projects</h5>
                <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        
        <!-- Dissertation & Thesis Projects -->
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
            <div class="overflow-hidden">
                <img class="img-fluid w-100 h-100" src="img/service-3.jpg" alt="Assignment Help Service">
            </div>
            <div class="d-flex align-items-center justify-content-between bg-light p-4">
                <h5 class="text-truncate me-3 mb-0">Research Work Help</h5>
                <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        <!-- College Application Coaching -->
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.7s">
            <div class="overflow-hidden">
                <img class="img-fluid w-100 h-100" src="img/service-2.jpg" alt="Website Development Service">
            </div>
            <div class="d-flex align-items-center justify-content-between bg-light p-4">
                <h5 class="text-truncate me-3 mb-0">Personal Statement and Resumes</h5>
                <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
